@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-brand-white: #ffffff;
  --color-brand-light: #e6f2fb;
  --color-brand-lighter: #f3f9fe;
  --color-brand-border: #000000;
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}